Body{
  background-color:#F6F6F6;
}

.boxSearch{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right:2.5% ;
  
}

.boxCard{
  display: flex;
  position: relative;
}

.boxBook{
  width: 100%;
  margin-bottom: 2%;
}

.boxIcon{
  margin-left: 0.5%;
  position: absolute;
  right: 10px;
  top: 5%;
}

.spinner{
  display: flex;
  justify-content: center;
}

.not-found-favorite-book{
  text-align: center;

}



