Body{
  background-color:#F6F6F6;
}

.boxCard{
  display: flex;
}

.boxBook{
  width: 100%;
  margin-bottom: 2%;
}

.boxIcon{
  margin-left: 0.5%;
}

.spinner{
  display: flex;
  justify-content: center;
}



